</h1>New Workout</h1>

<div class="row">
    <div class="col-4">
        <h3>Record your Workout Here</h3>
</div>
<div class="row">
    <div class="col-8">
        <%= render "partials/workout_form"%>
    </div>
</div>